-f https://download.pytorch.org/whl/torch_stable.html
gunicorn==20.1.0
torch==1.11.0+cpu
torchvision==0.12.0+cpu
absl-py==1.0.0
asttokens 
astunparse==1.6.3
backcall 
backports.functools-lru-cache 
beautifulsoup4==4.11.1
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama 
debugpy 
decorator 
entrypoints 
executing 
filelock==3.7.0
Flask==2.1.2
flatbuffers==2.0
gast==0.3.3
google==3.0.0
google-api-core==2.7.3
google-api-python-client==2.47.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.1
httplib2==0.20.4
huggingface-hub==0.6.0
idna==3.3
importlib-metadata==4.11.3
ipykernel 
ipython 
itsdangerous==2.1.2
jedi 
Jinja2==3.1.2
joblib==1.1.0
jupyter-client 
jupyter-core 
MarkupSafe==2.1.1
matplotlib-inline 
nest-asyncio 
nltk==3.7
numpy==1.22.3
opt-einsum==3.3.0
packaging 
parso 
pickleshare 
Pillow==9.1.0
prompt-toolkit
protobuf==3.20.1
psutil 
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments 
pyparsing 
python-dateutil 
PyYAML==6.0
pyzmq 
regex==2022.4.24
requests==2.27.1
rsa==4.8
scikit-learn==1.1.0
scipy==1.8.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
six 
soupsieve==2.3.2.post1
stack-data 
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.12.1
tornado 
tqdm==4.64.0
traitlets 
transformers==4.19.0
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
wcwidth 
Werkzeug==2.1.2
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.0
